@import url('https://fonts.googleapis.com/css?family=Monoton');


h1 {
  text-align: center;
  display: inline;
  font-size: 4vw;
  text-transform: uppercase;
  color: #AB3428;


  @media (min-width: 700px) {
    font-size: 3vw;
  }

  @media (min-width: 1400px) {
    font-size: 150px;
  }
}

@supports (-webkit-background-clip: text) {
  h1 {
    color: transparent;
    background: linear-gradient(7deg, #F5EE9E 50%, #F49E4C 0);
    -webkit-background-clip: text;
  }
}