@import url('https://fonts.googleapis.com/css?family=Monoton');


h1 {
  text-align: center;
  display: inline;
  font-size: 4vw;
  text-transform: uppercase;
  color: #AB3428;


  @media (min-width: 700px) {
    font-size: 3vw;
  }

  @media (min-width: 1400px) {
    font-size: 150px;
  }
}

@supports (-webkit-background-clip: text) {
  h1 {
    color: transparent;
    background: linear-gradient(7deg, #F5EE9E 50%, #F49E4C 0);
    -webkit-background-clip: text;
  }
}


/* -------------- */
.words {
  color: white;
  font-family: Arial;
  font-size: clamp(1.5rem, 10.7vw - 3.2rem, 3.5rem);
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
}

.words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.words:hover p {
  transform: translate(0, -50px);
}

.words-line:nth-child(1) {
  left: 29px;
  width: 450px;
  background-color: #AB3428;
}

.words-line:nth-child(2) {
  left: 58px;
  width:450px;
  background-color: #F49E4C;
}

.words-line:nth-child(3) {
  left: 87px;
  width:450px;
  background-color: #AB3428;
}

.words-line:nth-child(4) {
  left: 116px;
  width: 450px;
  background-color: #F49E4C;
}

.words-line:nth-child(5) {
  left: 145px;
  width: 450px;
  background-color: #AB3428;
}
