.containerHeader{
    background: #ab3428;
    box-shadow: 0px 50px 26px 8px rgba(0,0,0,0.51)
}

.containerTendencias {
    height: fit-content;
    background: rgb(13, 13, 13);
    background: linear-gradient(0deg, rgba(13, 13, 13, 1) 20%, rgba(171, 52, 40, 1) 100%);
}