.containerHeader {
    background: rgb(20, 28, 48);
}

.containerTendencias {
    height: fit-content;
    background: rgb(13, 13, 13);
    background: linear-gradient(0deg, rgba(13, 13, 13, 1) 20%, rgba(171, 52, 40, 1) 100%);
}

.titulo-juego{
    text-align: center;
}