.containerRegister {
  height: 100vh;
}

.register-form {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: inherit;
  height: auto;
  box-shadow: 0 20px 20px #000000;
  padding: 10px 30px;
}
